<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link"
       [routerLinkActive]="['active']"
       [routerLinkActiveOptions]="{exact: true}"
       [routerLink]="['/']">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       [routerLinkActive]="['active']"
       [routerLink]="['counter']">Counter</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       [routerLinkActive]="['active']"
       [routerLink]="['productivity']">Organize Yourself</a>
  </li>

</ul>
